.close {
	float:right;
	font-size:21px;
	font-weight:700;
	line-height:1;
	color:#000;
	text-shadow:0 1px 0 #fff;
	opacity:.2;
	filter:alpha(opacity=20)
}
.close:hover,.close:focus {
	color:#000;
	text-decoration:none;
	cursor:pointer;
	opacity:.5;
	filter:alpha(opacity=50)
}
button.close {
	padding:0;
	cursor:pointer;
	background:0 0;
	border:0;
	-webkit-appearance:none
}
.modal-open {
	overflow:hidden
}
.modal {
	display:none;
	overflow:auto;
	overflow-y:scroll;
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:1050;
	-webkit-overflow-scrolling:touch;
	outline:0
}
.modal.fade .modal-dialog {
	-webkit-transform:translate(0,-25%);
	-ms-transform:translate(0,-25%);
	transform:translate(0,-25%);
	-webkit-transition:-webkit-transform .3s ease-out;
	-moz-transition:-moz-transform .3s ease-out;
	-o-transition:-o-transform .3s ease-out;
	transition:transform .3s ease-out
}
.modal.in .modal-dialog {
	-webkit-transform:translate(0,0);
	-ms-transform:translate(0,0);
	transform:translate(0,0)
}
.modal-dialog {
	position:relative;
	width:600px;
	margin:10px auto
}
.modal-content {
	position:relative;
	background-color:#fff;
	border:1px solid #999;
	border:1px solid rgba(0,0,0,.2);
	border-radius:6px;
	-webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);
	box-shadow:0 3px 9px rgba(0,0,0,.5);
	background-clip:padding-box;
	outline:0
}
.modal-backdrop {
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:1040;
	background-color:#000
}
.modal-backdrop.fade {
	opacity:0;
	filter:alpha(opacity=0)
}
.modal-backdrop.in {
	opacity:.5;
	filter:alpha(opacity=50)
}
.modal-header {
	padding:15px;
	border-bottom:1px solid #e5e5e5;
	min-height:16.42857143px
}
.modal-header .close {
	margin-top:-2px
}
.modal-title {
	margin:0;
	line-height:1.42857143
}
.modal-body {
	position:relative;
	padding:20px
}
.modal-footer {
	margin-top:15px;
	padding:19px 20px 20px;
	text-align:right;
	border-top:1px solid #e5e5e5
}
.modal-footer .btn+.btn {
	margin-left:5px;
	margin-bottom:0
}
.modal-footer .btn-group .btn+.btn {
	margin-left:-1px
}
.modal-footer .btn-block+.btn-block {
	margin-left:0
}
@media (min-width:768px) {
	.modal-dialog {
		width:600px;
		margin:30px auto
	}
	.modal-content {
		-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);
		box-shadow:0 5px 15px rgba(0,0,0,.5)
	}
	.modal-sm {
		width:300px
	}
}
/* # Modals
================================================== */
.modal-content {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-bottom-color: rgba(0, 0, 0, 0.4);
}
.modal-header {
  background-color: #f9f9f9;
}
.modal-header .close {
  margin-top: 5px;
  font-size: 15px !important;
}
.modal-title {
  font-weight: 600;
  font-size: 15px;
  color: #555555;
}
.modal-footer {
  background-color: #f9f9f9;
}
body.modal-open {
  margin-right: 15px;
}

/* # Buttons
================================================== */
.btn,
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ColVis_MasterButton,
.fc-state-default {
  background-color: #f3f3f3;
  background-image: none;
  filter: none;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 6px 13px;
  text-shadow: none;
  font-size: 14px;
  font-weight: normal;
  color: #333333;
  font-size: 13px;
  cursor: pointer;
  border: 1px solid #d9d9d9;
  border: 1px solid rgba(0, 0, 0, 0.13);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.btn:hover,
.ui-state-default:hover,
.ui-widget-content .ui-state-default:hover,
.ui-widget-header .ui-state-default:hover,
.ColVis_MasterButton:hover,
.fc-state-default:hover,
.btn:focus,
.ui-state-default:focus,
.ui-widget-content .ui-state-default:focus,
.ui-widget-header .ui-state-default:focus,
.ColVis_MasterButton:focus,
.fc-state-default:focus {
  color: #333333;
  background-color: #f8f8f8;
  border-color: rgba(0, 0, 0, 0.13);
}
.btn:active,
.ui-state-default:active,
.ui-widget-content .ui-state-default:active,
.ui-widget-header .ui-state-default:active,
.ColVis_MasterButton:active,
.fc-state-default:active,
.btn.active,
.ui-state-default.active,
.ui-widget-content .ui-state-default.active,
.ui-widget-header .ui-state-default.active,
.ColVis_MasterButton.active,
.fc-state-default.active {
  background-color: #e6e6e6;
  border-color: rgba(0, 0, 0, 0.13);
  border-top: 1px solid #a6a6a6;
}
.btn.disabled,
.ui-state-default.disabled,
.ui-widget-content .ui-state-default.disabled,
.ui-widget-header .ui-state-default.disabled,
.ColVis_MasterButton.disabled,
.fc-state-default.disabled,
.btn.btn[disabled],
.ui-state-default.btn[disabled],
.ui-widget-content .ui-state-default.btn[disabled],
.ui-widget-header .ui-state-default.btn[disabled],
.ColVis_MasterButton.btn[disabled],
.fc-state-default.btn[disabled] {
  background-color: #f3f3f3;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-top: 1px solid rgba(0, 0, 0, 0.13);
}
.btn.disabled:hover,
.ui-state-default.disabled:hover,
.ui-widget-content .ui-state-default.disabled:hover,
.ui-widget-header .ui-state-default.disabled:hover,
.ColVis_MasterButton.disabled:hover,
.fc-state-default.disabled:hover,
.btn.btn[disabled]:hover,
.ui-state-default.btn[disabled]:hover,
.ui-widget-content .ui-state-default.btn[disabled]:hover,
.ui-widget-header .ui-state-default.btn[disabled]:hover,
.ColVis_MasterButton.btn[disabled]:hover,
.fc-state-default.btn[disabled]:hover {
  cursor: not-allowed;
}
.btn .caret,
.ui-state-default .caret,
.ui-widget-content .ui-state-default .caret,
.ui-widget-header .ui-state-default .caret,
.ColVis_MasterButton .caret,
.fc-state-default .caret {
  border-top-color: #333333;
  margin-top: 0;
  margin-left: 3px;
  vertical-align: middle;
}
.btn + .caret,
.ui-state-default + .caret,
.ui-widget-content .ui-state-default + .caret,
.ui-widget-header .ui-state-default + .caret,
.ColVis_MasterButton + .caret,
.fc-state-default + .caret,
.btn + .dropdown-toggle .caret,
.ui-state-default + .dropdown-toggle .caret,
.ui-widget-content .ui-state-default + .dropdown-toggle .caret,
.ui-widget-header .ui-state-default + .dropdown-toggle .caret,
.ColVis_MasterButton + .dropdown-toggle .caret,
.fc-state-default + .dropdown-toggle .caret {
  margin-left: 0px;
}
/* * * * * * * * * * * *
 * Sizes
 * * * * * * * * * * * */
.btn-lg {
  padding: 10px 15px;
  font-size: 14px;
}
.btn-sm {
  padding: 4px 9px;
  font-size: 12px;
}
.btn-xs {
  padding: 0px 10px;
  font-size: 11px;
}
/* * * * * * * * * * * *
 * States
 * * * * * * * * * * * */
.btn-primary {
  color: #ffffff;
  background-color: #3968c6;
  z-index: 2;
}
.btn-primary:hover,
.btn-primary:focus {
  color: #ffffff;
  background-color: #4d77cc;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #335eb2;
  border-top: 1px solid #1c3463;
}
.btn-primary.disabled,
.btn-primary.btn[disabled] {
  background-color: #3968c6;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-primary .caret {
  border-top-color: #ffffff;
}
.btn-group.open .btn-primary.dropdown-toggle {
  background-color: #335eb2;
}
.btn-info {
  color: #ffffff;
  background-color: #2f96b4;
  z-index: 2;
}
.btn-info:hover,
.btn-info:focus {
  color: #ffffff;
  background-color: #34a7c8;
}
.btn-info:active,
.btn-info.active {
  background-color: #2a85a0;
  border-top: 1px solid #15424f;
}
.btn-info.disabled,
.btn-info.btn[disabled] {
  background-color: #2f96b4;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-info .caret {
  border-top-color: #ffffff;
}
.btn-group.open .btn-info.dropdown-toggle {
  background-color: #2a85a0;
}
.btn-warning {
  color: #ffffff;
  background-color: #f89406;
  z-index: 2;
}
.btn-warning:hover,
.btn-warning:focus {
  color: #ffffff;
  background-color: #fa9f1e;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #df8505;
  border-top: 1px solid #7c4a03;
}
.btn-warning.disabled,
.btn-warning.btn[disabled] {
  background-color: #f89406;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-warning .caret {
  border-top-color: #ffffff;
}
.btn-group.open .btn-warning.dropdown-toggle {
  background-color: #df8505;
}
.btn-danger {
  color: #ffffff;
  background-color: #bd362f;
  z-index: 2;
}
.btn-danger:hover,
.btn-danger:focus {
  color: #ffffff;
  background-color: #ce3f38;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #a9302a;
  border-top: 1px solid #571916;
}
.btn-danger.disabled,
.btn-danger.btn[disabled] {
  background-color: #bd362f;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-danger .caret {
  border-top-color: #ffffff;
}
.btn-group.open .btn-danger.dropdown-toggle {
  background-color: #a9302a;
}
.btn-inverse {
  color: #ffffff;
  background-color: #555555;
  z-index: 2;
}
.btn-inverse:hover,
.btn-inverse:focus {
  color: #ffffff;
  background-color: #626262;
}
.btn-inverse:active,
.btn-inverse.active {
  background-color: #484848;
  border-top: 1px solid #151515;
}
.btn-inverse.disabled,
.btn-inverse.btn[disabled] {
  background-color: #555555;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-inverse .caret {
  border-top-color: #ffffff;
}
.btn-group.open .btn-inverse.dropdown-toggle {
  background-color: #484848;
}
.btn-success {
  color: #ffffff;
  background-color: #51a351;
  z-index: 2;
}
.btn-success:hover,
.btn-success:focus {
  color: #ffffff;
  background-color: #5eaf5e;
}
.btn-success:active,
.btn-success.active {
  background-color: #499249;
  border-top: 1px solid #274e27;
}
.btn-success.disabled,
.btn-success.btn[disabled] {
  background-color: #51a351;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-success .caret {
  border-top-color: #ffffff;
}
.btn-group.open .btn-success.dropdown-toggle {
  background-color: #499249;
}
.btn-facebook {
  color: #ffffff;
  background-color: #3b5998;
  z-index: 2;
}
.btn-facebook:hover,
.btn-facebook:focus {
  color: #ffffff;
  background-color: #4264aa;
}
.btn-facebook:active,
.btn-facebook.active {
  background-color: #344e86;
  border-top: 1px solid #17233c;
}
.btn-facebook.disabled,
.btn-facebook.btn[disabled] {
  background-color: #3b5998;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-facebook .caret {
  border-top-color: #ffffff;
}
.btn-group.open .btn-facebook.dropdown-toggle {
  background-color: #344e86;
}
.btn-twitter {
  color: #ffffff;
  background-color: #00acee;
  z-index: 2;
}
.btn-twitter:hover,
.btn-twitter:focus {
  color: #ffffff;
  background-color: #09bbff;
}
.btn-twitter:active,
.btn-twitter.active {
  background-color: #009ad5;
  border-top: 1px solid #00506f;
}
.btn-twitter.disabled,
.btn-twitter.btn[disabled] {
  background-color: #00acee;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-twitter .caret {
  border-top-color: #ffffff;
}
.btn-group.open .btn-twitter.dropdown-toggle {
  background-color: #009ad5;
}
.btn-google-plus {
  color: #ffffff;
  background-color: #d14836;
  z-index: 2;
}
.btn-google-plus:hover,
.btn-google-plus:focus {
  color: #ffffff;
  background-color: #d65b4b;
}
.btn-google-plus:active,
.btn-google-plus.active {
  background-color: #c13e2c;
  border-top: 1px solid #6e2319;
}
.btn-google-plus.disabled,
.btn-google-plus.btn[disabled] {
  background-color: #d14836;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-google-plus .caret {
  border-top-color: #ffffff;
}
.btn-group.open .btn-google-plus.dropdown-toggle {
  background-color: #c13e2c;
}
/* * * * * * * * * * * *
 * Button Groups
 * * * * * * * * * * * */
.btn-group > .btn:first-child,
.btn-group > .btn:last-child {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn-group > .btn i {
  margin-right: 3px;
}
.btn-group > .dropdown-toggle {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/* * * * * * * * * * * *
 * Horizontal Forms
 * * * * * * * * * * * */
.form-horizontal .form-group {
  padding-left: 0;
  padding-right: 0;
}
.form-horizontal .control-label {
  padding-top: 7px;
}
/* * * * * * * * * * * *
 * Vertical Forms
 * * * * * * * * * * * */
.form-vertical {
  margin-left: -10px;
  margin-right: -10px;
}
.form-vertical.no-margin {
  margin-left: 0;
  margin-right: 0;
}
.form-vertical .help-block {
  margin-bottom: 0;
}
.form-vertical .select2-container.error {
  margin-bottom: 10px;
}
.form-vertical .form-group {
  padding-left: 15px;
  padding-right: 15px;
}
.form-vertical .form-group:first-child {
  padding-top: 5px;
}
.form-vertical .form-group:last-child {
  padding-bottom: 0;
}
.form-vertical .form-group .control-label {
  padding-bottom: 5px;
}
/* * * * * * * * * * * *
 * Control Groups
 * * * * * * * * * * * */
/*.form-group {
	margin: 0;
	padding: 10px 15px;

	&:first-child {
		padding-top: 5px;
	}
}*/
/*.box {
	.form-group {
		margin-left: -10px;
		margin-right: -10px;
	}
}*/
.row-border .form-group {
  border-top: 1px solid #ececec;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
}
.row-border .form-group:first-child {
  padding-top: 5px;
  border-top: none;
}
/* * * * * * * * * * * *
 * Form Actions
 * * * * * * * * * * * */
.form-actions {
  padding: 19px 20px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  *zoom: 1;
}
.form-actions .btn.pull-right {
  margin-left: 3px;
}
.form-actions:before,
.form-actions:after {
  display: table;
  line-height: 0;
  content: "";
}
.form-actions:after {
  clear: both;
}
.box .form-actions {
  margin-bottom: -10px;
  margin-left: -15px;
  margin-right: -15px;
}
/* * * * * * * * * * * *
 * Uniform
 * * * * * * * * * * * */
.radio > div.radio,
.radio-inline > div.radio,
.checkbox > div.checker,
.checkbox-inline > div.checker {
  margin-left: -20px;
  padding-top: 0;
}
.radio > div.radio input[type="radio"],
.checkbox > div.checker input[type="checkbox"] {
  margin-left: 0px;
}

/*************不可以固定顶部**************/
.tops, .navs {
	position: absolute !important;
	z-index:auto !important;
}